chapter.prepend
    h2.no-index Documenthistorie
    table
        thead
            tr
                th Datum
                th Versie
                th Beschrijving
                th Auteur
        tbody
            tr
                td 18 januari 2015
                td 0.1
                td Initiële versie
                td Projectgroep

    h2.no-index Distributie
    table
        thead
            tr
                th
                    strong Naam
                th
                    strong 0.1

        tbody
            tr
                td E. Nijkamp
                td ✕
            tr
                td Projectgroep
                td ✕

    h2.no-index Accordering document
    table.signature
        tbody
            tr
                td Namens&nbsp;
                    = config.employer
                    | :
                    span.comment (handtekening)

