---
title: Acceptatiedocument
project: Wobbe 2000
employer: Winkel van de Toekomst
authors: Malcolm Kindermans, Jeroen Kruis, Maurits van Mastrigt en Auke Willem Oosterhoff.
version: 1.0 
prepend: [chapters/prepend.jade]
---

chapter
	include:markdown chapters/inleiding.md

chapter
	include:markdown chapters/tests.md

chapter
	include:markdown chapters/resultaten.md
