---
title: Deployment Manual
project: Wobbe 2000
employer: Winkel van de Toekomst
authors: Malcolm Kindermans, Jeroen Kruis, Maurits van Mastrigt en Auke Willem Oosterhoff.
version: 0.9
prepend: [chapters/prepend.jade]
---

chapter
	include:markdown chapters/inleiding.md

chapter
	include:markdown chapters/installatie-instructies.md

