---
title: Vision Document
project: Wobbe 2000
employer: Winkel van de Toekomst
authors: Malcolm Kindermans, Jeroen Kruis, Maurits van Mastrigt en Auke Willem Oosterhof.
version: 0.1
---

chapter
    include:markdown chapters/inleiding.md
chapter
    include:markdown chapters/positionering.md
chapter
    include:markdown chapters/belanghebbenden.md
chapter
    include:markdown chapters/productperspectief.md
chapter
    include:markdown chapters/producteigenschappen.md
chapter
    include:markdown chapters/overige-requirements.md

