---
title: Vision Document
description: Winkel van de Toekomst
authors: Malcolm Kindermans, Jeroen Kruis, Maurits van Mastrigt en Auke Willem Oosterhof.
---

chapter
    include:markdown chapters/inleiding.md

