---
title: Vision Document
description: Winkel van de Toekomst
authors: Malcolm Kindermans, Jeroen Kruis, Maurits van Mastrigt en Auke Willem Oosterhof.
---

chapter
    include:markdown chapters/inleiding.md
chapter
    include:markdown chapters/positionering.md
chapter
    include:markdown chapters/belanghebbenden.md
chapter
    include:markdown chapters/productperspectief.md
chapter
    include:markdown chapters/producteigenschappen.md
chapter
    include:markdown chapters/overige-requirements.md

