chapter.prepend
    h2.no-index Documenthistorie
    table
        thead
            tr
                th Datum
                th Versie
                th Beschrijving
                th Auteur
        tbody
            tr
                td 18 januari 2015
                td 0.1
                td Templatedocument
                td Rup op Maat
            tr
                td 18 januari 2015
                td 0.9
                td Initiële versie
                td Projectgroep
            tr
                td 22 januari 2015
                td 0.9.1
                td Verwerking feedback E. Nijkamp
                td Projectgroep

    h2.no-index Distributie
    table
        thead
            tr
                th
                    strong Naam
                th
                    strong 0.1
                th
                    strong 0.9
                th
                    strong 0.9.1

        tbody
            tr
                td E. Nijkamp
                td 
                td ✕
                td ✕
            tr
                td Projectgroep
                td ✕
                td ✕
                td ✕

    h2.no-index Accordering document
    table.signature
        tbody
            tr
                td Namens&nbsp;
                    = config.employer
                    | :
                    span.comment (handtekening)

    hr

    h2.no-index Contactgegevens
    table
        thead
            tr
                th Naam
                th E-mailadres
        tbody
            tr
                td E. Nijkamp
                td e.nijkamp@pl.hanze.nl
            tr
                td M.S. Kindermans
                td m.s.kindermans@st.hanze.nl
            tr
                td J. Kruis
                td j.kruis@st.hanze.nl
            tr
                td M. van Mastrigt
                td m.van.mastrigt@st.hanze.nl
            tr
                td A.W. Oosterhoff
                td a.w.oosterhoff@st.hanze.nl

    h2.no-index Woordenlijst
    p Onderstaand een tabel met omschrijvingen voor de, in dit document, gebruikte terminologie.
    table
        thead
            tr
                th Woord / afkorting
                th Omschrijving
        tbody
            tr
                td SDP
                td
                    strong Software Development Plan
                    | , deze afkorting verwijst naar dit document.
            tr
                td PoC
                td
                    strong Proof of Concept
                    | , basisimplementatie om aan te tonen dat de voorgestelde oplossing in de praktijk te gebruiken is.
            tr
                td NFC
                td
                    strong Near Field Communication
                    | , een contactloze communicatiemethode voor onder andere mobiele telefoons.
            tr
                td Beacon
                td Een hardwarecomponent die communiceert met mobiele apparaten om te bepalen of een klant zich in een bepaalde radius bevindt.
            tr
                td Docker
                td Een hulpmiddel voor het isoleren en distribueren van softwarecomponenten.
            tr
                td API
                td 
                    strong Application Programming Interface
                    | , een computerprogramma dat afgeschermde functionaliteit aanbiedt aan de buitenwereld.
            tr
                td UML
                td
                    strong Unified Modelling Language
                    | , een modelmatige taal om objectgeoriënteerde analyses en ontwerpen voor informatiesystemen te kunnen maken.
            tr
                td Repository
                td Een (gedeelde) opslagplek voor software.
            tr
                td Git / Github
                td Een populair versiebeheersysteem en de website die gebruikt maakt van Git om in groepen aan softwareontwikkeling te doen.

