<ion-view view-title="Lijst {{ list.title || 'wordt geladen…' }}">
	<ion-content padding="true">
		<div ng-if="list">
			<ion-list>
				<ion-item ng-repeat="product in list.products" ng-class="{scanned: product.quantity==product.scanned}">
					<h2>{{ product.name }}</h2>
					<span class="item-note">
						{{ product.quantity }} &times; {{ product.price | currency }} = {{ product.quantity * product.price | currency }}
					</span>
					<p>Aantal: {{ product.scanned }} / {{ product.quantity }}</p>
				</ion-item>
			</ion-list>
		</div>
		<div ng-if="!list">
			<p>Uw boodschappenlijstje wordt geladen.</p>
		</div>

	</ion-content>

    <div class="bar bar-footer bar-balanced">
            <div class="title">
		        <a href="#">
                    <button class="button button-icon icon ion-camera"></button>
                </a>
            </div>
            <a href="#/menu/payment/{{ list.id }}">
                <button class="button button-clear">Betalen</button>
            </a>
    </div>
</ion-view>

