<ion-view view-title="Boodschappenlijstje">
	<ion-content padding="true">
		<h2 class="list-title">{{ list.title || 'Zonder titel' }}</h2>
		<div ng-if="list">
			<ion-list>
				<ion-item ng-repeat="product in list.products" ng-class="{scanned: product.quantity==product.scanned}" ng-click="decrease_scanned_product(list, product.id)">
					<h2>{{ product.name }}</h2>
					<span class="item-note">
						{{ product.quantity }} &times; {{ product.price | currency }} = {{ product.quantity * product.price | currency }}
					</span>
					<p>Aantal: {{ product.scanned }} / {{ product.quantity }}</p>
				</ion-item>
			</ion-list>
		</div>
		<div ng-if="!list">
			<p>Uw boodschappenlijstje wordt geladen.</p>
		</div>

	</ion-content>

    <div class="bar bar-footer bar-balanced">

        <div class="title">
            <button class="button button-icon icon ion-camera" ng-click="increase_scanned_product(list, scan())"></button>
        </div>

        <div class="buttons">
            <a href="#/menu/payment/{{ list.id }}">
                <button class="button" ng-click="paymentCompletePopup()">Betalen</button>
            </a>
        </div>

    </div>
</ion-view>

