<ion-view view-title="Inloggen">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">E-mailadres</span>
				<input type="text" ng-model="user.username"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Wachtwoord</span>
				<input type="password" ng-model="user.password"/>
			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="signIn(user)">
			Inloggen
			</button>
			<p class="text-center">
			<a href="#/forgot-password">Wachtwoord vergeten</a>
			</p>
		</div>
	</ion-content>
</ion-view>

